/* Стили для контейнера */
#card-container {
    text-align: center;
    margin: 20px;
}

/* Стили для изображения гриба */
#fungus-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Скрыть название гриба по умолчанию */
#fungus-name {
    display: none; /* Скрыть название до клика */
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

/* Стили для текста с ответом */
#answer {
    font-size: 18px;
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

/* Кнопка "Следующий" */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
